.about {
  margin-top: 0;
  background-image: url(./first-portfolio-images/nordwood-themes-nDd3dIkkOLo-unsplash.jpg);
  height: 100vh;
  background-size: cover;
}

.about h2 {
  margin-top: 0;
  text-align: center;
  padding-top: 3em;
  font-family: var(--secondaryfont);
}
