.footer {
  background-color: #161a1d;
  padding: 1rem;
}

.contact {
  /* width: 40vw; */
  /* height: 20vw; */
  /* background-color: #e9ecef; */
  color: var(--bgcolor);
  /* padding: 1rem; */
  /* text-align: center; */
  justify-content: start;
  /* display: flex; */
  align-items: start;
  /* margin: 0 auto; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
  /* border-radius: 10px; */
}

.contact ul {
  list-style: none;
}

.contact li {
  font-family: var(--mainfont);
}

.contact a {
  color: var(--maincolor);
}

.contact h3 {
  /* padding-left: 5vw; */
}

.footer p {
  color: var(--bgcolor);
  font-family: var(--mainfont);
  text-align: end;
  padding-right: 2em;
}
