.main {
  padding-top: 0;
}

.home {
  background-image: url(./first-portfolio-images/home\ bg\ 3rd\ version.avif);
  height: 100vh;
  background-size: cover;
}

.home h1 {
  text-align: center;
  padding-top: 8em;
  margin-top: 0;
}

.home p {
  text-align: center;
}
