.main {
  padding-top: 0;
}

.home {
  background-image: url(./first-portfolio-images/home\ bg\ 3rd\ version.avif);
  height: 100vh;
  background-size: cover;
}

.home h1 {
  text-align: center;
  padding-top: 8em;
  margin-top: 0;
  font-family: var(--secondaryfont);
  font-size: 2.5rem;
}

.home p {
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 1.1rem;
  /* font-weight: 600; */
}

.home button {
  margin-top: 4em;
  font-family: var(--thirdfont);
  font-size: 1.1rem;
  padding: 0.8em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5px;
  background-color: var(--maincolor);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  text-transform: uppercase;
  /* font-weight: bold; */
}

.home button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.home button a {
  color: #03071e;
  text-decoration: none;
}

.home button a:visited {
  color: #03071e;
}

.scroll-downs {
  position: absolute;
  top: 85%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 34px;
  height: 55px;
  z-index: 0;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 3px solid black;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: var(--maincolor);
  animation-name: scroll;
  animation-duration: 1.6s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
