.main {
  padding-top: 0;
}

.home {
  background-image: url(./first-portfolio-images/home-background.avif);
  height: 100vh;
  background-size: cover;
}

.home h1 {
  text-align: center;
  padding-top: 5em;
  margin-top: 0;
}
