.projects {
  /* margin-top: 0; */
  background-color: var(--bgcolor);
  height: 60vh;
}

.projects h2 {
  margin-top: 0;
  text-align: center;
  padding-top: 3em;
  font-family: var(--secondaryfont);
}

.underline2 {
  height: 5px;
  width: 35px;
  background-color: var(--maincolor);
  position: absolute;
  left: 48%;
  border-radius: 5px;
}

.projects {
  display: block;
}

.projects-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-top: 10vh;
}
.projects-photo {
  margin-left: 5vw;
  /* display: block; */
  /* overflow: hidden; */
  /* display: flex; */
  /* margin-top: 10vh; */
}

.projects-img {
  width: 100%;
  max-width: 400px;
  display: block;
  object-fit: cover;
}

.projects-info {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  /* margin-top: 10vh; */
  margin-right: 5vw;
}
